<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Awesome Chat Server</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
<script src="jquery.min.js"></script>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-6">
            <form class="card p-3 bg-light" action="/" method="post">
                <div class="form-group">
                    <label for="channelName">Channel name</label>
                    <input type="input" class="form-control form-control-lg" name="channelName"
                           id="channelName" placeholder="Enter desired channel name ...">
                </div>
                <div class="form-group">
                    <label for="userName">Name to use</label>
                    <input type="input" class="form-control form-control-lg" name="userName"
                           id="userName" placeholder="Username">
                </div>
                <button type="submit" class="btn btn-primary">Start Chatting!</button>
            </form>
        </div>
    </div>
</div>
<script src="bootstrap.bundle.min.js"></script>
</body>
</html>